$baseFontSize: 14px;
$smallFontSize: 12px;
$mediumFontSize: 14px;
$largeFontSize: 16px;
$baseLineHeight: 25px;
$smallGutter: 5px;
$mediumGutter: 10px;
$largeGutter: 20px;
$baseFontColor: #333;
$background: #f8f8f8;
$red: #FC4B3F;
$lightRed: #FF7A7A;
$light: #FFF9EE;
$dark: #323232;
$grey: #969799;
$lightGrey: #eee;
$green: #07c160;
$blue: #3c9fbf;
$link: #2798FD;
$blue: #2d8cf0;